@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Martel+Sans:wght@600&family=Poppins:wght@500&family=Varela&display=swap');

:root {
  --primary-color: #423E5B;
  --secondary-color: #A3C4BC;
  --accent1-color: #D3D1D8;
  --accent2-color: #523600;

  --heading-font: "Martel Sans";
  --paragraph-font: "Martel Sans", Helvetica, sans-serif;

  --headline-color-on-white: #423e5b;  /*headlines on a white background */ 
  --headline-color-on-color: #a3c4bc; /*headlines on a colored background */ 
  --paragraph-color-on-white: #523600; /*paragraph text on a white background */ 
  --paragraph-color-on-color: #d3d1d8; /*paragraph text on a colored background */ 
  --paragraph-background-color: #423e5b;
  --nav-link-color: #d3d1d8;
  --nav-background-color: #423e5b;
  --nav-hover-link-color: #a3c4bc;
  --nav-hover-background-color: #523600;
}

header{
  background-color: #423E5B;
  color:#D3D1D8;
  font: var(--heading-font);
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

body{
  font: var(--paragraph-font);
  background-image: url(assets/images/mexico/caribbean/DSCN0036.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.intro-paragraph{
  color: #423E5B;
  width: 60%;
  justify-self: center;
  text-align: center;
  margin: 10px auto;
  background-color: #D3D1D8;
  padding: 10px;
}

#top-prargraph{
  color: #423E5B;
  background-color: #D3D1D8;
  text-align: center;
  margin: auto;
}

footer{
  font: var(--paragraph-font);
  background-color: #423E5B;
  width: 100%;
}

nav a{
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
  display: flex;
  width: 75%;
  margin: 0 auto;
}

#header-nav{
  background-color: #423E5B;
  overflow: hidden;
}

#header-nav a{
  float: left;
  color: #D3D1D8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img{
  border: 5px solid #D3D1D8;
  width: 100%;
  height: auto;
}

#logo{
  border-radius: 50%;
  margin: 10px;
  width: 200px;
  height: auto;
}

.tab {
    overflow: hidden;
    background-color: var(--headline-color-on-white);
    color: var(--headline-color-on-color);
    float: center;
    justify-items: center;
    margin: auto;
    width: 70%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #D3D1D8;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #A3C4BC;
    color: #523600;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--secondary-color);
    color: #523600;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--secondary-color);
    border-top: none;
    background-color: #A3C4BC;
    color: #423E5B;
    width: 75%;
    float: center;
    margin: auto;
  }

  /*classes*/
.info-image-1{
  width: 200px;
  height: auto;
}

.info-image-2{
  width: 250px;
  height: auto;
}

.info-image-3{
  width: 300px;
  height: auto;
}