@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Martel+Sans:wght@600&family=Poppins:wght@500&family=Varela&display=swap');

:root {
  --primary-color: #423E5B;
  --secondary-color: #A3C4BC;
  --accent1-color: #D3D1D8;
  --accent2-color: #523600;

  --heading-font: "Martel Sans";
  --paragraph-font: "Martel Sans", Helvetica, sans-serif;

  --headline-color-on-white: #423e5b;  /*headlines on a white background */ 
  --headline-color-on-color: #a3c4bc; /*headlines on a colored background */ 
  --paragraph-color-on-white: #523600; /*paragraph text on a white background */ 
  --paragraph-color-on-color: #d3d1d8; /*paragraph text on a colored background */ 
  --paragraph-background-color: #423e5b;
  --nav-link-color: #d3d1d8;
  --nav-background-color: #423e5b;
  --nav-hover-link-color: #a3c4bc;
  --nav-hover-background-color: #523600;
}

header{
    background-color: #423E5B;
    color:#D3D1D8;
    font: var(--heading-font);
}

main{
    font: var(--paragraph-font);
}

footer{
    font: var(--paragraph-font);
    background-color: #423E5B;
}

img{
    border: 5px solid #D3D1D8;
  }

#logo{
    border-radius: 50%;
    margin: 10px;
}

nav a{
    background-color: var(--nav-background-color);
    text-align: center;
    justify-content: space-around;
    color: var(--nav-link-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #423E5B;
    border-radius: 1em;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li{
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea{
    font: 1em var(--font-paragraph);
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #423E5B;
}

input:focus, textarea:focus{
    border-color: #423E5B;
}

textarea{
    vertical-align: top;
    height: 5em;
}

.button{
    padding-left: 90px;
}

button{
    margin-left: .5em;
}

#feedback{
    background-color: #D3D1D8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}

.movedown{
    margin-top: 3em;
}